<% provide(:title, 'About') %>
<h1>About This App</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>
<h1>About LTAB:Omaha</h1>
<p>Louder Than a Bomb: Omaha was started in 2012 by the <a
href="http://www.newriters.org/">Nebraska Writers Collective</a> in conjunction
with Young Chicago Authors (their LTAB festival has been going for more than 12
years). The 2013 LTAB tournament kicks off officially in March, and will feature
24 schools from around the state of Nebraska.</p>
